doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Clean Blog - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/home-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            h1 Clean Blog
                            span.subheading A Blog Theme by Start Bootstrap

        // Main Content
        .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .row.col-md-12.col-lg-8.col-xl-7.justify-content-around

                        // Post preview
                        .column.card.col-sm-5
                            img.bd-placeholder-img.card-img-top(src='https://ltfstyleguide.azurewebsites.net/images/placeholder/card-img-cap.png', placeholder='Image cap')
                            .card-body
                                a(href='post.html')
                                    h4.card-title
                                        | Man must explore, and this is exploration at its greatest
                                    label.card-text
                                        | Problems look mighty small from 150 miles up

                        // Post preview
                        .column.card.col-sm-5
                            img.bd-placeholder-img.card-img-top(src='https://ltfstyleguide.azurewebsites.net/images/placeholder/card-img-cap.png', placeholder='Image cap')
                            a(href='post.html')
                                h4.card-title
                                    | I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                    // Divider
                    hr.my-4

                    .row.col-md-12.col-lg-8.col-xl-7.justify-content-around
                        // Post preview
                        .card.col-sm-5
                            img.bd-placeholder-img.card-img-top(src='https://ltfstyleguide.azurewebsites.net/images/placeholder/card-img-cap.png', placeholder='Image cap')
                            a(href='post.html')
                                h4.card-title
                                    | Science has not yet mastered prophecy
                                label.card-text
                                    | We predict too much for the next year and yet far too little for the next ten.
                        
                        // Post preview
                        .card.col-sm-5
                            img.bd-placeholder-img.card-img-top(src='https://ltfstyleguide.azurewebsites.net/images/placeholder/card-img-cap.png', placeholder='Image cap')
                            a(href='post.html')
                                h4.card-title
                                    | Failure is not an option
                                label.card-text
                                    | Many say exploration is part of our destiny, but it’s actually our duty to future generations.

                // Pager
            .d-flex.justify-content-center.mb-4
                a.btn.btn-primary.text-uppercase(href='#!') Older Posts →
        
        include includes/footer.pug

        include includes/scripts.pug
